html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #282828;
  user-select: none;
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

option {
  outline: none;
}

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham_Book_Regular/Gotham_Book_Regular.otf");
  font-weight: regular;
  font-style: regular;
}
@font-face {
  font-family: "Copperplate_Gothic_Bold";
  src: url("../fonts/Copperplate_Gothic_Bold/Copperplate_Gothic_Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham_Medium_Regular";
  src: url("../fonts/Gotham_Medium_Regular/Gotham_Medium_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham_Bold";
  src: url("../fonts/Gotham_Bold/Gotham_Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham_Medium";
  src: url("../fonts/Gotham_Medium/Gotham_Medium.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
.gotham-book {
  font-family: "Gotham Book";
}

.copperplate-gothic-bold {
  font-family: "Copperplate_Gothic_Bold";
}

.gotham-bold {
  font-family: "Gotham_Bold";
}

.gotham-medium-regular {
  font-family: "Gotham_Medium_Regular";
}

.gotham-medium {
  font-family: "Gotham_Medium";
}

.roboto-condensed-regular {
  font-family: "RobotoCondensed-Regular";
}

.roboto-regular {
  font-family: "roboto-regular";
}

.uppercase {
  text-transform: uppercase;
}

.color-white {
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-decoration-none {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.margin-zero {
  margin: 0;
}

.wrapper {
  max-width: 1727px;
  margin: 0 auto;
}

.top__line {
  background-color: #F5535E;
  font-family: "Gotham Book";
}

.top__line .container {
  display: flex;
  justify-content: space-between;
  padding: 28px 0;
}

.top__link {
  color: white;
  text-decoration: none;
  border-left: 1px solid #F8878F;
  padding: 0 10px 0 13px;
}

#top__auth, #currency, #language {
  background-color: #F5535E;
  border: none;
  color: white;
  outline: none;
  font-family: "Gotham Book";
  font-size: 1rem;
}

@media screen and (max-width: 724px) {
  .top__line .container {
    padding: 14px 0;
  }

  .top__navbar {
    width: 440px;
  }

  #top__auth {
    border-left: 1px solid #F8878F;
  }

  .top__link {
    padding-bottom: 0.5rem;
  }

  .top__link_checkout {
    padding-right: 1.9rem;
  }

  .top__selects {
    width: 160px;
    padding-left: 1rem;
  }
}
@media screen and (max-width: 617px) {
  .top__navbar {
    width: 300px;
  }
}
@media screen and (max-width: 457px) {
  .top__line .container {
    justify-content: space-around;
  }

  .top__navbar {
    width: 160px;
  }
}
.header__menu-present {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header__menu {
  background: #000000;
  border-bottom: 10px solid #fff;
  padding: 22px 0;
}

@media screen and (max-width: 1230px) {
  .header__menu {
    padding: 22px 1rem;
  }
}
@media screen and (max-width: 1100px) {
  .header__menu-present {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 788px) {
  .header__menu {
    padding-bottom: 11px;
  }
}
@media screen and (max-width: 788px) {
  .header__menu {
    border-bottom: 2px solid #fff;
  }
}
.header__menu-logo {
  display: flex;
  align-items: center;
  position: relative;
}

.nike_intro {
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  font-family: "Copperplate_Gothic_Bold";
  position: absolute;
  left: 125px;
  bottom: 0;
}

@media screen and (max-width: 1092px) {
  .header__menu-logo {
    width: 223px;
  }
}
@media screen and (max-width: 832px) {
  .header__menu-logo {
    display: none;
  }
}
.header__search-bar {
  display: flex;
  margin-left: auto;
  flex-wrap: wrap;
}

.header__search-category {
  padding: 13px 11px 14px;
  font-family: "Gotham Book";
}

.header__search-input {
  width: 375px;
  height: 40px;
  padding-left: 0.7rem;
  font-family: "Gotham Book";
}

.header__search-button {
  background-color: #F5535E;
  color: #fff;
  border: none;
  padding: 0.4rem 0.6rem;
}

.fa.fa-search {
  font-size: 2rem;
}

@media screen and (max-width: 812px) {
  .header__search-bar {
    margin: 0 auto;
  }
}
@media screen and (max-width: 606px) {
  .header__search-input {
    width: 340px;
  }
}
@media screen and (max-width: 573px) {
  .header__search-input {
    width: 325px;
  }
}
@media screen and (max-width: 570px) {
  .header__search-input {
    width: 310px;
  }
}
@media screen and (max-width: 540px) {
  .header__search-input {
    width: 280px;
  }
}
@media screen and (max-width: 513px) {
  .header__search-input {
    width: 250px;
  }
}
@media screen and (max-width: 480px) {
  .header__search-input {
    width: 220px;
  }
}
@media screen and (max-width: 452px) {
  .header__search-input {
    width: 220px;
  }
}
@media screen and (max-width: 506px) {
  .header__search-category {
    flex: 1 1 100%;
  }

  .header__search-input {
    flex: 1;
  }
}
.header__shopping-report {
  background: #717171;
  color: white;
  max-width: 170px;
  font-family: "Gotham Book";
  text-align: center;
  padding: 0.3rem 1rem;
  margin-left: 4.5rem;
}

.shopping-report, .shopping-card {
  margin: 0;
}

@media screen and (max-width: 1230px) {
  .header__shopping-report {
    margin-left: 1rem;
  }
}
@media screen and (max-width: 1108px) {
  .header__shopping-report {
    margin-left: 0;
  }
}
@media screen and (max-width: 1004px) {
  .header__shopping-report {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 832px) {
  .header__shopping-report {
    margin-left: 2rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 812px) {
  .header__shopping-report {
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 788px) {
  .header__shopping-report {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 426px) {
  .header__shopping-report {
    max-width: 404px;
    display: flex;
    margin: 1rem auto 0;
  }

  .shopping-report {
    margin-left: 0.5rem;
  }
}
.header__navbar {
  max-width: 100%;
  margin-left: auto;
}

.header__nav-link {
  margin-left: 34px;
  background: #000;
  color: #fff;
  border: none;
  width: 89px;
}
.header__nav-link:hover {
  color: #FD7587;
}

@media screen and (max-width: 962px) {
  .header__nav-link {
    margin-top: 0.5rem;
    margin-left: 10px;
  }
}
@media screen and (max-width: 788px) {
  .header__navbar {
    margin-top: 0.125rem;
    max-width: 514px;
    margin-left: 0;
  }
}
@media screen and (max-width: 726px) {
  .header__navbar {
    max-width: 484px;
  }
}
@media screen and (max-width: 696px) {
  .header__navbar {
    max-width: 434px;
  }
}
@media screen and (max-width: 666px) {
  .header__navbar {
    max-width: 364px;
  }
}
@media screen and (max-width: 576px) {
  .header__navbar {
    max-width: 314px;
  }
}
@media screen and (max-width: 566px) {
  .header__navbar {
    max-width: 314px;
  }
}
@media screen and (max-width: 526px) {
  .header__navbar {
    max-width: 294px;
  }
}
@media screen and (max-width: 506px) {
  .header__navbar {
    max-width: 214px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media screen and (max-width: 426px) {
  .header__navbar {
    max-width: 434px;
  }
}
.header__background_crimson {
  background: linear-gradient(90deg, #6F202D, #C62030);
}

.header__banner {
  background-image: url("../img/shoes_banner.png");
  background-repeat: no-repeat;
}

.header__section {
  padding-top: 33rem;
  max-width: 745px;
  color: white;
  padding-bottom: 3em;
  font-size: 16px;
}

.header__title {
  font-size: 4rem;
  font-family: "Gotham_Bold";
  margin: 1rem 0;
  line-height: 4rem;
}

.header__intro {
  font-size: 30px;
  font-family: "Gotham_Bold";
  margin: 1em 0;
}

.header__text {
  font-size: 1.125em;
  font-family: "Gotham Book";
}

@media screen and (max-width: 320px) {
  .header__section {
    padding: 8rem 1rem 1rem;
    font-size: 16px;
  }

  .header__banner {
    background-size: 150% auto;
    background-position-x: -85px;
  }

  .header__title {
    font-size: 2rem;
    line-height: 2rem;
  }

  .header__intro {
    font-size: 1rem;
  }

  .header__text {
    padding-top: 1rem;
  }
}
.trainers__collection {
  background: #fff;
  font-family: "Gotham_Bold";
  text-align: center;
  padding: 50px 0;
}

.trainers__title {
  font-size: 42px;
  margin: 0;
}

.trainers__intro {
  font-size: 28px;
  margin: 0;
}

.trainers__block {
  margin-top: 60px;
}

.mens__collection {
  background: url("../img/mens_collection.png");
  max-width: 440px;
  height: 384px;
  flex: 1 1;
}

.unisex__collection {
  background: url("../img/unisex_collection.png");
  max-width: 760px;
  height: 384px;
  flex: 1 1;
  position: relative;
  left: -2px;
}

.womens__collection {
  background: url("../img/womens_collection.png");
  max-width: 761px;
  height: 384px;
  flex: 1 1;
  position: relative;
  top: -2px;
}

.lifestyle__collection {
  background: url("../img/lifestyle_collection.png");
  max-width: 442px;
  height: 384px;
  flex: 1 1;
  position: relative;
  top: -2px;
  left: -2px;
}

@media screen and (max-width: 320px) {
  .mens__collection, .womens__collection, .unisex__collection, .lifestyle__collection {
    max-width: 320px;
  }

  .mens__collection {
    background-position-x: 100%;
  }

  .womens__collection {
    background-position-x: 75%;
  }

  .unisex__collection {
    background-position-x: 45%;
  }

  .lifestyle__collection {
    background-position-x: 60%;
  }
}
@media screen and (max-width: 678px) {
  .type__collection {
    max-width: 440px;
  }

  .unisex__collection, .lifestyle__collection {
    left: 0;
  }

  .trainers__block {
    margin: 60px auto 0;
    max-width: 440px;
  }
}
.catalogue__collection {
  text-align: left;
  padding: 120px 0 0 52px;
  font-size: 16px;
}

.catalogue__title, .catalogue__intro {
  font-size: 42px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .catalogue__title, .catalogue__intro {
    font-size: 31.5px;
  }

  .catalogue__collection {
    padding: 90px 0 0 52px;
  }
}
.view__all {
  border-radius: 30px;
  background-color: #F43A55;
  max-width: 170px;
  height: 55px;
  position: relative;
  margin-top: 20px;
}

.view__all span {
  color: #4D4B4B;
  background-color: #fff;
  padding: 18px 28px;
  border-radius: 30px;
  font-size: 1rem;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 320px) {
  .view__all {
    max-width: 200px;
  }
}
.dots {
  max-width: 100px;
  margin: 52px auto 0;
  display: flex;
  align-items: center;
}

.dot {
  border-radius: 50%;
  background-color: #858585;
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem;
}

.selected-dot {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #F43A55;
}

.logos__section {
  background-image: url("../img/leather-banner.png");
  height: 555px;
}

.logos__block {
  max-width: 770px;
  margin: 0 auto;
}

.logos__first-row, .logos__second-row {
  max-width: 100%;
  padding-top: 70px;
}

.nike__title {
  font-size: 40px;
  position: absolute;
  top: -35px;
  left: 45px;
}

.middle__logo {
  position: relative;
}

@media screen and (max-width: 320px) {
  .logos__img {
    max-width: 130px;
    height: auto;
    margin: 0 1rem;
  }

  .middle__logo {
    max-width: 160px;
    align-self: flex-start;
    margin: 0 auto;
  }

  .logos__first-row {
    justify-content: flex-start;
    max-width: 320px;
    padding-top: 20px;
  }

  .logos__second-row {
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 20px;
  }

  .adidas__logo {
    align-self: center;
    margin: 20px auto;
  }

  .nike__logo {
    margin: 40px auto;
    max-width: 200px;
  }

  .nike__title {
    font-size: 2rem;
    top: 0;
    left: 30px;
  }
}
.action__button {
  display: block;
  margin: 4.5rem auto 0;
  width: 105px;
  font-size: 20px;
  font-weight: light;
  background-color: #F43A55;
  border-radius: 30px;
  padding: 18px 48px;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .action__button {
    margin: 2.25rem auto 0;
  }
}
.products {
  background: #fff;
  padding-top: 56px;
}

.popular__title {
  font-size: 42px;
}

.new__title {
  font-size: 28px;
  color: #F43A55;
  margin-left: 1rem;
}

.products__block {
  max-width: 100%;
  margin-top: 1rem;
}

.product__img {
  width: 400px;
  height: 340px;
  background-size: cover;
}

.product__first-img {
  background-image: url("../img/grey-trainers.png");
}

.product__second-img {
  background-image: url("../img/black-trainers.png");
}

.product__third-img {
  background-image: url("../img/white-trainers.png");
}

@media screen and (max-width: 320px) {
  .product {
    max-width: 320px;
  }

  .product__img {
    width: 320px;
  }

  .product__first-img, .product__second-img, .product__third-img {
    background-position-x: -40px;
  }
}
.product__evaluation {
  max-width: 250px;
  margin: 0 auto;
}

.evaluation__title {
  font-size: 22px;
  color: #282422;
}

.main__price {
  font-size: 25px;
  color: #F43A55;
}

.product__price {
  margin-top: 1rem;
}

.line-through {
  font-size: 17px;
  text-decoration: line-through;
  color: #939190;
  margin-left: 0.5rem;
}

.products .action__button {
  width: 150px;
}

@media screen and (max-width: 320px) {
  .product__evaluation {
    max-width: 200px;
  }
}
.product__info {
  padding-top: 6em;
  max-width: 75em;
  position: relative;
  height: 43.75em;
  margin: 0 auto;
}

.product__chart {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  height: auto;
}

.trainers__effect {
  position: absolute;
  max-width: 55.0625em;
}

.total__price {
  font-size: 7.38375em;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 320px) {
  .product__info {
    font-size: 3.75px;
  }
}
.mixed-block {
  position: absolute;
  max-width: 3.4375em;
  right: 2em;
  top: 8em;
}

.mixed-word {
  font-size: 1em;
}

.color-dots {
  width: 0.6875em;
  margin: 0 auto;
}

.color-dot {
  width: 0.6875em;
  height: 0.6875em;
  border-radius: 50%;
  margin: 1em 0 1em 0;
}

.first-dot {
  background-color: #207EBA;
}

.second-dot {
  background-color: #F43C57;
}

.third-dot {
  background-color: #E2D9D4;
}

@media screen and (max-width: 320px) {
  .mixed-block {
    top: 4rem;
  }
}
.destination__area {
  width: 18em;
  height: 18em;
  background-color: #26337c13;
  border-radius: 50%;
  position: absolute;
  bottom: 28%;
  right: 18.7%;
}

.destination__circle {
  width: 9.6875em;
  height: 9.6875em;
  background-color: #F43C57;
  border-radius: 50%;
}

.destination__distance {
  font-size: 1.25em;
  display: flex;
  align-items: center;
}

.destination__number {
  font-size: 1.5em;
}

.running__logo {
  width: 2.625em;
}

.km7 {
  position: absolute;
  bottom: 17%;
  left: 25.5%;
  transform: translate(-17%, -25.5%);
  font-size: 1.25em;
}

.km15 {
  position: absolute;
  bottom: 13%;
  left: 47%;
  transform: translate(-13%, -47%);
  font-size: 1.25em;
}

.nike-pop {
  position: absolute;
  bottom: 5%;
  right: 5%;
  font-size: 1.58984375em;
  transform: translate(-5%, -5%);
  display: flex;
  align-items: center;
}

.rarr {
  margin-left: 1em;
}

@media screen and (max-width: 320px) {
  .km7, .km15, .nike-pop {
    font-size: 12px;
  }

  .km15 {
    bottom: 10%;
    left: 47%;
    transform: translate(-10%, -47%);
  }

  .destination__number {
    font-size: 16px;
  }

  .km {
    display: none;
  }
}
.action__info {
  background-color: #F43C57;
  padding: 4rem 0 4rem;
}

@media screen and (max-width: 320px) {
  .action__info .container {
    max-width: 320px;
    padding: 0 1rem;
  }
}
.info__block {
  max-width: 468px;
  padding: 0 1rem;
}

.info__text {
  font-size: 19px;
}

.action__subscribe {
  border: 1px solid #ffffff;
  border-radius: 40px;
  width: 474px;
  height: 66px;
}

.action__notice {
  font-size: 1rem;
  margin-left: 1rem;
}

.subscribe__button {
  font-size: 19px;
  color: #222121;
  background: #fff;
  padding: 22px 48px;
  border-radius: 40px;
}

@media screen and (max-width: 320px) {
  .action__notice {
    font-size: 0.75rem;
  }

  .action__subscribe {
    width: 264px;
    margin: 0 auto;
  }
}
.footer {
  background: url("../img/footer-banner.png");
  padding-bottom: 0.9rem;
  background-repeat: no-repeat;
  background-size: 1727px auto;
}

.footer__title_color {
  font-size: 1.125rem;
  color: #F43C57;
  padding-bottom: 1rem;
}

.footer__section {
  padding-top: 90px;
  width: 266px;
}

.footer__list {
  list-style-type: none;
}

.footer__item {
  line-height: 2rem;
}

.footer__logo_link {
  margin-right: 1rem;
  font-size: 1.25rem;
}

.fa.fa-phone, .fa.fa-map-marker, .fa.fa-envelope {
  color: #F43C57;
}

.footer__nike-block {
  position: relative;
}

.footer__nike-name {
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  left: 47%;
  transform: translateX(-53%);
}

@media screen and (max-width: 320px) {
  .footer__nike-block {
    margin-top: 2rem;
  }

  .footer__nike-name {
    left: 35%;
  }

  .footer {
    background-attachment: fixed;
    background-position: 100% 100%;
    background-size: cover;
  }

  .footer__section {
    padding-top: 22.5px;
  }
}
.footer__bottom {
  margin-top: 2rem;
  border-top: 1px solid #3B3838;
}

.footer__bottom-title {
  margin-top: 2rem;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
