html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #282828;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

option {
  outline: none;
}

@font-face {
  font-family: "Gotham Book";
  src: url("../Gotham_Book_Regular/Gotham_Book_Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Copperplate_Gothic_Bold";
  src: url("../Copperplate_Gothic_Bold/Copperplate_Gothic_Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham_Medium_Regular";
  src: url("../Gotham_Medium_Regular/Gotham_Medium_Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham_Bold";
  src: url("../Gotham_Bold/Gotham_Bold.otf");
  font-weight: bold;
  font-style: normal;
}
.gotham-bold {
  font-family: "Gotham_Bold";
}

.uppercase {
  text-transform: uppercase;
}

.color-white {
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.wrapper {
  max-width: 1727px;
  margin: 0 auto;
}

.top__line {
  background-color: #F5535E;
  font-family: "Gotham Book";
}

.top__line .container {
  display: flex;
  justify-content: space-between;
  padding: 28px 0;
}

.top__link {
  color: white;
  text-decoration: none;
  border-left: 1px solid #F8878F;
  padding: 0 10px 0 13px;
}

#top__auth, #currency, #language {
  background-color: #F5535E;
  border: none;
  color: white;
  outline: none;
  font-family: "Gotham Book";
  font-size: 1rem;
}

.header__menu-present {
  display: flex;
  align-items: center;
}

.header__menu {
  background: #000000;
  border-bottom: 10px solid #fff;
  padding: 22px 0;
}

.header__menu-logo {
  display: flex;
  align-items: center;
}

.nike_intro {
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  font-family: "Copperplate_Gothic_Bold";
  position: relative;
  left: -45px;
}

.header__search-bar {
  display: flex;
  margin-left: auto;
}

.header__search-category {
  padding: 13px 11px 14px;
  font-family: "Gotham Book";
}

.header__search-input {
  width: 375px;
  height: 40px;
  padding-left: 0.7rem;
  font-family: "Gotham Book";
}

.header__search-button {
  background-color: #F5535E;
  color: #fff;
  border: none;
  padding: 0.4rem 0.6rem;
}

.fa.fa-search {
  font-size: 2rem;
}

.header__shopping-report {
  background: #717171;
  color: white;
  max-width: 170px;
  font-family: "Gotham Book";
  text-align: center;
  padding: 0.3rem 1rem;
  margin-left: 4.5rem;
}

.shopping-report, .shopping-card {
  margin: 0;
}

.header__nav_right {
  max-width: 100%;
  display: flex;
}

.header__navbar {
  margin-left: auto;
}

.header__nav-link {
  margin-left: 34px;
  font-family: "Gotham_Medium_Regular";
  background: #000;
  color: #fff;
  border: none;
}
.header__nav-link:hover {
  color: #FD7587;
}

.header__banner {
  background-image: url("../img/shoes_banner.png");
  height: 820px;
}

.header__section {
  padding-top: 35rem;
  max-width: 745px;
  color: white;
}

.header__title {
  font-size: 4rem;
  font-family: "Gotham_Bold";
  margin: 1rem 0;
  line-height: 4rem;
}

.header__intro {
  font-size: 30px;
  font-family: "Gotham_Bold";
  margin: 1rem 0;
}

.header__text {
  font-size: 18px;
  font-family: "Gotham Book";
}

.trainers__collection {
  height: 1000px;
  background: #fff;
  font-family: "Gotham_Bold";
  text-align: center;
  padding: 50px 0;
}

.trainers__title {
  font-size: 42px;
  margin: 0;
}

.trainers__intro {
  font-size: 28px;
  margin: 0;
}

.trainers__block {
  margin-top: 60px;
}

.trainers__first-row {
  max-width: 1200px;
  flex-wrap: wrap;
}

.mens__collection {
  background: url("../img/mens_collection.png");
  max-width: 440px;
  height: 384px;
  flex: 1 1;
}

.unisex__collection {
  background: url("../img/unisex_collection.png");
  max-width: 760px;
  height: 384px;
  flex: 1 1;
  position: relative;
  left: -2px;
}

.womens__collection {
  background: url("../img/womens_collection.png");
  max-width: 761px;
  height: 384px;
  flex: 1 1;
  position: relative;
  top: -2px;
}

.lifestyle__collection {
  background: url("../img/lifestyle_collection.png");
  max-width: 442px;
  height: 384px;
  flex: 1 1;
  position: relative;
  top: -2px;
  left: -2px;
}

.catalogue__collection {
  text-align: left;
  padding: 124px 0 0 52px;
}

.catalogue__title, .catalogue__intro {
  font-size: 42px;
  margin: 0;
}

.view__all {
  border-radius: 30px;
  background-color: #F43A55;
  max-width: 170px;
  height: 55px;
  position: relative;
  margin-top: 20px;
}

.view__all span {
  color: #4D4B4B;
  background-color: #fff;
  padding: 18px 28px;
  border-radius: 30px;
  font-size: 1rem;
  position: absolute;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
